---
import Bubble from "./shared/Bubble.astro";
import Speaker from "./shared/Speaker.astro";

interface Props{
from:string;
align?:"left"|"right";
}

const{
from,
align="right"
}=Astro.props;
---

<div class:list={["message",align]}>

<Speaker>

{from}

</Speaker>

<Bubble>

<slot/>

</Bubble>

</div>