---
// src/components/ui/Hero.astro
---
<header class="max-w-3xl mx-auto px-6 py-32 mb-10 md:mb-0 md:py-20">
  <h1 class="text-4xl md:text-6xl xl:text-7xl font-mono tracking-tighter leading-[1.1] mb-6 md:mt-6 text-gray-900">
    Lost in<span class="p-8 flex justify-end items-end hover:text-blue-500 xl:text-8xl">translation.</span>
    <span class="text-gray-400 text-3xl line-through decoration-blue-500 decoration-[4px] md:mt-0 md:text-4xl xl:text-5xl">Subtle art of confusion.</span><br/>
  </h1>
  
  <p class="text-xl text-gray-600 max-w-xl leading-relaxed mt-8">
    Essays, tech projects, and over-analyses from a brain currently running on 2% battery. 
    <span class="block mt-2 text-sm text-gray-400 italic">
      (Expect 1 visual for every 200 words of rambling.)
    </span>
  </p>
</header>